
.page {
    background-color: #1B2838;
    color: #fff;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.colLeft {
    padding: 0 3rem;
    border: 1px solid #525252;
    background-color: #344654;
    height: 500px;
}
.search {
    width: 100%;
  
    padding: 0.5rem 2rem;
  
    outline: none;
    font-size: 1.5rem;
    font-family: "EB Garamond", serif;
    color: #333;
  }

  .sort {
    /* display: flex;
    justify-content: flex-end; */
    height: 100%;
    width: 100%;
    margin-top: 0.5rem 2rem;
  }
  
  .select {
    width: 100%;
    padding: 1rem 1rem;
    outline: none;
    font-size: 1.5rem;
    font-family: "EB Garamond", serif;
    color: #333;
    cursor: pointer;
    text-indent: 1px;
    text-overflow: "";
  }
  
  .select option {
    cursor: pointer;
  }
  
  .boxSelect {
    position: relative;
  }
  
  .arrowDown {
    position: absolute;
    top: 1.6rem;
    right: 2rem;
    z-index: -999;
  }
  
  .arrowDown svg {
    font-size: 2rem;
  }

  .icon {
    position: absolute;
    top: 1.6rem;
    right: 2rem;
  }
  
  .icon svg {
    font-size: 2.4rem;
  }
  
  .input {
    position: relative;
  }
  .title_search {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 1rem;
  }

  .checkbox {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    padding: 5px;
  }
  .content {
    padding: 0.5rem 2rem;
  }


  /* ---------------------------- */

  
.image {
  width: 100%;
  height: 100%;
}

.price_sale {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  background-color: #1D6E94;
  
  
}
.name {
background-color: #beee11;
display: flex;
align-items: center;
font-weight: 500;
padding: 7px;
font-size: 18px;
}
.price_vnd {
  background-color: #344654;
  font-size: 15px;
  padding: 2px;
  width: 100px;
  text-align: center;
}
.name_sale {
  font-size: 18px;
  color: #fff;
  padding: 4px;
}

.view {
  position: relative;
}


.pagination {
  display: flex;
  margin-top: 2.4rem;
  justify-content: center;
  border-radius: 10px;
}

.pagination li a,
.pagination li span {
  font-size: 1.2rem;
  margin: 0 1rem;
  padding: 0 1rem;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 7px;
}
.pagination li {
  border-radius: 10px;
}

.pagination p:hover {
  background-color: #dadada;
}